section{
    height: 400px;
    width:400px;
    
    background-color: #F9EFEF;
}
#div-form{
    margin-left: 52px;
    padding-top: 30px;

}
#list{
    height: 700px;
    margin-top: 95px;
    /* display: none; */
}
h1{
    display: none;
}

#txtNom{
    
    margin-left: 87px;
    border-radius: 180px;
}
#txtPrenom{
    
    margin-left: 68px;
    border-radius: 180px;
}
#txtAdress{
    
    margin-left: 74px;
    border-radius: 180px;
}
#txtTelephone{
    margin-left: 54px;
    border-radius: 180px;
}
#txtEmail{
   
    margin-left: 81px;
    border-radius: 180px;
}
#top{
    margin-top:20px;
}
#btnEnregistrer{
    margin-top: 30px;
    margin-left: 82px;
    background-color:#9CEEDD;
    width:100px;
}
#btnEnregistrer:hover{
    margin-top: 30px;
    margin-left: 82px;
    background-color:#469787;
    width:110px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr {
    background-color: #dddddd;
  }
@media print{
    #div-form, #btnEnregistrer, #print{
        display:none;
    }
    h1{
        display:inline;
    }
    #list{
        color:blue;
        background-color: rgb(82, 51, 16);
    }

}