/* utility */
*{
    box-sizing: border-box;
}
.txt{
    margin: 2px;
    width: 70%;
}
.lbl{
    margin: 1rem;
    width: 10rem;
}
.btn{
    margin: 0.2rem 0.5rem 0.2rem 0.2rem ;

}
#vide{
    background-color: red;
}
@media print{
    .btn{
        display: none;
    }
    .btn-group::after{
      content:"Merci"
    }
}
.container{
    width:24rem;
    display: flex;
    background-color: rgb(255,255,205);
    margin: auto;
    margin-top: 1rem;
}
.txts{
    margin-top: .3rem;
}
input{
    margin-bottom: 1rem;
    
}
.date{
    width: 3.4rem;
}
#pass{
    margin-bottom: auto;
}

